.side-bar {
  background-color: #393a44;
  background-image: url("../Images/coffee-beans-with-props-making-coffee_1220-4536.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height:100vh;
  min-width: max-content;
  font-size: 24px;
}



.dash-h1 {
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: bolder;
}

.periodic {
  font-size:36px;
}

.dashboard-header {
  color:aliceblue;
  background-image: url("../Images/coffee-beans-with-props-making-coffee_1220-4536.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  /* background-color:rgb(233, 236, 236); */
}

.css-test{
  background-color:rgb(233, 236, 236);
}

.reservations-tables{
  background-color: aliceblue;
  border-radius: 7px;
}

/* .reservations-tables:hover{
  background-color: rgb(194, 208, 219);
} */

.reservations-tables-dashboard{
  background-color: aliceblue;
  border-radius: 7px;
}

.reservations-tables-dashboard:hover{
  background-color: rgb(194, 208, 219);
}

.form-page {
  background-color:rgb(233, 236, 236);
  min-height: 100vmax;
  display: flex;
  flex-direction: column;
  text-align: center;
}

input {
  width: 200px;
  margin:3px;
}

.finish {
  display: flex;
  justify-content: space-between;
}

.finish-button {
  margin-top: -10px;
  margin-bottom: 10px;
}

.seat-button {
  border-radius: 5px;
  background-color: aquamarine;
  color: brown;
  border:none;
  padding: 7px 12px;
}
.seat-button:hover{
  background-color:rgb(87, 209, 169)
}

@media screen and (max-width: 700px) {
  .side-bar {
    min-height: fit-content;
  }

}