.side-bar {
  text-overflow: break-word;
  max-width: 40%;
  font-size: 24px;
}

html {
  background-image: url("../Images/coffee-beans-with-props-making-coffee_1220-4536.jpg");
  background-attachment: fixed;
  background-size:cover;
}

body {
  background: none
}

.carousel{
  margin: 0 auto;
  max-width: 100%;
  text-shadow: 2px 2px #282424;
  border-style: solid;
  border-width: 8px;
  border-color:rgb(240,248,255,.65);
  font-family: 'Kaushan Script', cursive;
}

.footer{
  border: #ffffff;
  color: #ffffff;
  border-style: groove;
  padding: 10px
}

.slideFont{
  font-size: 18px;
}

.dash-h1 {
  font-family: 'Montserrat';
  font-size: 48px;
  text-shadow: 2px 2px #282424;
  font-weight: bolder;
}

.periodic {
  text-overflow: break-word;
  font-family: 'Kaushan Script', cursive;
  font-size:36px; 
  text-shadow: 2px 2px #282424;
  text-decoration:overline;
  color:#ffffff
}

.link-text{
  color: aliceblue
}
.link-text:hover{
  color: #ffffff51;
}


.dashboard-header {
  color:aliceblue;
  text-shadow: 2px 2px #282424;
  border-style: double;
}


.reservations-tables{
  background-color: rgba(240, 248, 255, 0.75);
  border-radius: 7px;
}


.reservations-tables-dashboard{
  display: inline-block;
  background-color: rgba(240, 248, 255, 0.75);
  border-radius: 25px;
  text-align: center;
  max-height: 60vh;
}


.reservations-tables-dashboard:hover{
  background-color: rgb(194, 208, 219);
}

.form-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  /* background: repeating-linear-gradient(
    -45deg,
    rgb(233, 236, 236) 5px,
    rgb(233, 236, 236) .5px,
    aliceblue 50px,
    rgb(233, 236, 236) 200px
  ); */
}

input {
  width: 200px;
  margin:3px;
}

.finish {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.finish-button {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
  /* width: 8vw; */
  font-size: small 3vw;
}

.button-group {
  display: flex;
  justify-content: center;
}

.seat-button {
  border-radius: 5px;
  background-color: aquamarine;
  color: brown;
  border:none;
  padding: 7px 12px;
}
.seat-button:hover{
  background-color:rgb(87, 209, 169)
}

@media screen and (max-width: 650px){
  
  .side-bar{
    max-width: fit-content;
  }
  .carousel{
    margin: -25px auto 25px auto; 
  }
  .periodic{
    font-size: 100px;
  }
  #test{
    font-size: 50px;
  }
}

@media screen and (max-width: 767px) {
  .periodic{
    font-size: 20px;
  }

  .slideFont {
    font-size:24px;
  }
  
  .carousel{
    max-width: 85%;
    font-family: 'Kaushan Script', cursive;
    text-shadow: 2px 2px #282424;
  }
  
}


@media screen and (max-width: 1400px) {
  .slideFont {
    font-size: 38px;
  }
}